
<section id="home">
  <div class="main-content" [@shrinkAnimation]="isShrunk ? 'true' : 'false'">
    <p-image [ngStyle]="{borderRadius: 'var(--border-radius)'}" src="../../../assets/img/perfil.png" alt="Image" width="250"></p-image>
    <h1 [ngStyle]="{borderRadius: 'var(--border-radius)', backgroundColor:'var(--primary-color)', color: 'var(--primary-color-text)' ,padding: '10px'}">Ibai Fuentes Palacios</h1>
    <h2 [ngStyle]="{color: 'var(--text-secondary-color)', backgroundColor:'var(--secondary-color)'}">Fullstack developer</h2>
      <div>
        <i class="pi pi-linkedin"></i>
        <i class="pi pi-github"></i>
        <i class="pi pi-save"></i>
      </div>
        <p-button (click)="toggleShrink()">Click me</p-button>
      </div>
</section>
