<div class="all">
  <p-fieldset legend="SOBRE MI">
    <p-tag [style]="{ 'font-size': '2vh' }" value="¡Bienvenido!"> </p-tag>
    <br /><br />
    <h1>Hola y bienvenido a mi mundo digital! 👋;</h1>
    <br />
    <div class="panel">
      <h2>
        Esta página es mi lienzo digital, donde comparto mis proyectos, logros y
        reflexiones. Me emociona enfrentar nuevos desafíos y explorar las
        últimas tendencias tecnológicas.<br /><br />
        Gracias por visitar mi portafolio y por ser parte
        de esta aventura. 
      </h2>
    </div>
  </p-fieldset>

    <app-experiencia></app-experiencia>

