<div class="all">
  <p-fieldset legend="SOBRE MI">
    <p-tag [style]="{ 'font-size': '2vh' }" value="¡Bienvenido!"> </p-tag>
    <br /><br />
    <h1>Hola y bienvenido a mi mundo digital! 👋;</h1>
    <br />
    <div class="panel">
      <h2>
        Es un placer recibirte en mi espacio virtual. Permíteme compartir
        contigo mi apasionante relación con la programación y la tecnología, una
        pasión que ha perdurado desde mis primeros días hasta el presente.
        <br /><br />

        Desde que era un niño curioso, el mundo de la programación ha sido mi
        fascinación. Crecer en una época en la que la tecnología avanza a pasos
        agigantados me ha brindado la oportunidad de explorar, experimentar y
        aprender a medida que las nuevas tecnologías se desarrollan.
        <br /><br />

        Mi historia con la programación comenzó de manera peculiar: desmontando
        juguetes y dispositivos electrónicos para comprender su funcionamiento.
        Esa curiosidad me llevó a descubrir cómo las líneas de código pueden
        traducirse en experiencias interactivas, soluciones prácticas y
        aplicaciones innovadoras. <br /><br />

        Con el tiempo, esta pasión se convirtió en un viaje emocionante y de
        constante crecimiento. Cada línea de código escrita es un paso hacia la
        materialización de ideas y la resolución de desafíos únicos. Cada
        proyecto me enseña algo nuevo y me empuja a superar mis propios límites.
        <br /><br />

        Esta página es mi lienzo digital, donde comparto mis proyectos, logros y
        reflexiones. Me emociona enfrentar nuevos desafíos y explorar las
        últimas tendencias tecnológicas. A través de mis experiencias, espero
        inspirar a otros a explorar el emocionante mundo de la programación y la
        tecnología. <br /><br />

        Te invito a unirte a mí en esta emocionante travesía. Juntos, podemos
        explorar las infinitas posibilidades que la programación y la tecnología
        tienen para ofrecer. Gracias por visitar mi portafolio y por ser parte
        de esta aventura. <br /><br />

        ¡Gracias por tu atención!
      </h2>
    </div>
    <p class="m-0">
      <p-tag
        [style]="{ 'font-size': '2vh', 'margin-top': '2.5vh', 'margin-bottom': '4vh' }"
        value="Experiencia"
      ></p-tag></p
  ></p-fieldset>
</div>
